<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <h2>Animal App</h2>
      <div class="animalList">
        <div class="speciesHeader">
          <div class="speciesBox"></div>
          <h3>Species</h3>
        </div>
        <% for (animal of animals){ %>
        <article>
          <a class="animalLink" href="/animals/<%=animal._id %>">
            <h4>
              <%= animal.species %> - <%=animal.extinct ? "Extinct" : "Alive" %>
            </h4>
          </a>
        </article>
        <% } %>
      </div>
    </main>
  </body>
</html>
