<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/ad.css" />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <section class="headerAd">
      <%- include("../partials/header.ejs") %> <%-
      include("../partials/advertisement.ejs") %>
    </section>
    <main>
      <div class="mainTitle">
        <h2>Animal App</h2>
        <div class="h2Underline"></div>
      </div>
      <!-- ---------------------------------------- -->
      <div class="animalList">
        <div class="speciesHeader">
          <div class="speciesBox"></div>
          <h3>Species</h3>
        </div>
        <% for (animal of animals){ %>
        <article class="animalItems">
          <a class="animalLink" href="/animals/<%=animal._id %>">
            <h4>
              <%= animal.species %> - <%=animal.extinct ? "Extinct" : "Alive" %>
            </h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            accusantium...
          </p>
        </article>
        <% } %>
      </div>
      <!-- ---------------------------------------- -->
      <article class="animalExtras">
        <img
          src="https://i.imgur.com/PAsjbBG.jpg"
          alt="Cover for the film Who Framed Roger Rabbit."
        />
        <article class="articleText">
          <h3>Animals Behind the Scenes</h3>
          <h4>
            Roger Rabbit is an amalgamation of various classic cartoon
            characters, taking: Mickey Mouse for his gloves, his red pants with
            yellow/white buttons, and his lack of a shirt;...
          </h4>
        </article>
      </article>
      <!-- ---------------------------------------- -->
    </main>
  </body>
</html>
