<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/ad.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %> <%-
    include("../partials/advertisement.ejs") %>
    <main>
      <div class="mainTitle">
        <h2>Animal App</h2>
        <div class="h2Underline"></div>
      </div>
      <!-- ---------------------------------------- -->
      <div class="animalList">
        <div class="speciesHeader">
          <div class="speciesBox"></div>
          <h3>Species</h3>
        </div>
        <% for (animal of animals){ %>
        <article class="animalItems">
          <a class="animalLink" href="/animals/<%=animal._id %>">
            <h4>
              <%= animal.species %> - <%=animal.extinct ? "Extinct" : "Alive" %>
            </h4>
          </a>
        </article>
        <% } %>
      </div>
      <!-- ---------------------------------------- -->
      <article class="animalExtras"></article>
      <!-- ---------------------------------------- -->
    </main>
  </body>
</html>
